header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px;

}

.name {
    text-align: center;
    color: gold;
    font-family: 'Protest Guerrilla', sans-serif;

}

body {
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/black-background-with-white-spotlight_53876-104891.jpg');
    background-size: cover;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header nav ul li {
    position: relative;
    float: left;
}



header nav ul li a {
    padding: 15px;
    color: aliceblue;
    font-size: 16px;
    display: block;
    font-family: 'Rubik Mono One', monospace;
}

header nav ul li a:hover {
    background-color: #373737;

}

nav ul li ul {
    position: absolute;
    left: 0px;
    width: 180px;
    background-color: #1f1f1f;
    display: none;
    color: aliceblue;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul li ul li ul {
    left: 180px;
    top: 0;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li ul li h3 {
    margin-top: -21px;
    color: aliceblue;
    font-family: 'Rubik Mono One', monospace;
}

main {
    margin-top: 70px;
}